.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}
#logo{
    width: 150px;
}
img{
    width: 50px;
}
.redes img{
    margin: 0.3em;
}
.btn{
    border-width: medium;
    text-shadow: 10px;
    box-shadow: 3px 3px 3px white;
}