<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/Logos Transpa/APLogo.png" id="logo">
        </div>
        <div class="redes">
            <div>
                <a href=""><img src="../../../assets/Logos Transpa/facebook.png"></a>
                <a href=""><img src="../../../assets/Logos Transpa/github.png"></a>
                <a href=""><img src="../../../assets/Logos Transpa/instagram.png"></a>
                <a href=""><img src="../../../assets/Logos Transpa/linkedin.png"></a>
                <a href=""><img src="../../../assets/Logos Transpa/twitter.png"></a>
                <button type="button" class="btn btn-outline-light">Ingreso</button>
            </div>
        </div>
    </div>
</div>




