<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/FotoPerfil.jpg" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Ricardo Exequiel Riccitelli</p>
        <p>Full Stack Developer en proceso</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerda De</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic iusto vitae quos impedit laboriosam
                similique praesentium vel, error consequatur cupiditate tempora placeat expedita dolore ut repellat quae
                eum, enim odio!</p>
        </span>
    </div>
</div>